# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# user
/*/target
/.idea
/*/.idea
/log/
/*/log
/*/myself-sandbox
/*/*/.idea/
/Deploy/bin
/Deploy/lib
/Deploy/resources