<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sictiy.jserver.db.mapper.JUniqueMapper">
    
    <select id="queryJUniqueById" resultType="com.sictiy.jserver.db.pojo.JUniqueInfo">
        select * from u_unique where id = #{id}
    </select>
    
    <select id="queryJUniqueAll" resultType="com.sictiy.jserver.db.pojo.JUniqueInfo">
        select * from u_unique
    </select>

    <insert id="insertJUnique" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.sictiy.jserver.db.pojo.JUniqueInfo">
        INSERT INTO u_unique (
                id,
                max
            )
        VALUES (
                #{id},
                #{max}
            );
    </insert>

    <update id="updateJUnique" parameterType="com.sictiy.jserver.db.pojo.JUniqueInfo">
        UPDATE u_unique
        <trim prefix="set" suffixOverrides=",">
                    <if test="max!=null">max = #{max},</if>
        </trim>
        WHERE
        (id = #{id});
    </update>
</mapper>