<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sictiy.jserver.db.mapper.JUserMapper">
    
    <select id="queryJUserByUserId" resultType="com.sictiy.jserver.db.pojo.JUserInfo">
        select * from u_user where userId = #{userId}
    </select>
    
    <select id="queryJUserByUserName" resultType="com.sictiy.jserver.db.pojo.JUserInfo">
        select * from u_user where userName = #{userName}
    </select>
    
    <select id="queryJUserAll" resultType="com.sictiy.jserver.db.pojo.JUserInfo">
        select * from u_user
    </select>

    <insert id="insertJUser" useGeneratedKeys="true" keyColumn="userId" keyProperty="userId"
            parameterType="com.sictiy.jserver.db.pojo.JUserInfo">
        INSERT INTO u_user (
                userId,
                password,
                userName,
                createDate
            )
        VALUES (
                #{userId},
                #{password},
                #{userName},
                #{createDate}
            );
    </insert>

    <update id="updateJUser" parameterType="com.sictiy.jserver.db.pojo.JUserInfo">
        UPDATE u_user
        <trim prefix="set" suffixOverrides=",">
                    <if test="password!=null">password = #{password},</if>
                    <if test="userName!=null">userName = #{userName},</if>
                    <if test="createDate!=null">createDate = #{createDate},</if>
        </trim>
        WHERE
        (userId = #{userId});
    </update>
</mapper>