package {{ .TmplPackage }}.impl;

import {{ .BeanPackage }}.bean.{{ .JavaName }}Bean;
import {{ .TmplPackage }}.AbstractTempDataMgr;

/**
* @author sictiy.xu
* @version 2020/01/03 18:17
**/
public class {{ .JavaName }}TempMgr extends AbstractTempDataMgr{{ "<" }}{{ .JavaName }}Bean>
{{ "{" }}
{{ "}" }}
